@import 'defs';

.main {
  background-color: $gray;
  position: relative;
  .sl {
    background-color: $blue;
    text-align: right;
    padding: 5px 37px;
    z-index: 100;
    input {
      font-size: $em;
      padding: 2px 5px;
      border-radius: 3px;
    }
    #search-results {
      display: none;
      position: absolute;
      top: 25px;
      right: 0;
      background-color: $gray;
      border: 1px solid $lightgray;
      padding: 15px;
      width: 600px;
      max-height: 300px;
      overflow-y: auto;
      .entries {
        list-style: none;
        li {
          a {
            color: inherit;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
  .crumbs {
    padding: 5px 5px 5px 210px;
    color: $lightgray;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: $black;
      }
    }
  }
  .wl {
    background-color: $gray;
    padding: 5px 37px;
    text-align: right;
    color: $lightgray;
    font-size: 0.9 * $em;
    clear: both;
    time {
      color: $blue;
    }
  }
  .white {
    background-color: white;
    min-height: 400px;
    .page {
      padding: 20px;
      width: 450px;
      margin-left: 190px;
      h1 {
        font-size: 2.4 * $em;
        font-weight: normal;
        color: $blue;
        letter-spacing: -0.05 * $em;
        line-height: 2.6 * $em;
      }
      h2 {
        font-size: 1.8 * $em;
        font-weight: normal;
        color: $blue;
        line-height: 1.6 * $em;
      }
      p, table, ul, ol, h2 {
        margin-top: 12px;
        line-height: 1.9 * $em;
      }
      ul, ol {
        margin-left: 30px;
      }
      a {
        color: inherit;
        &:hover {
          color: $blue;
        }
      }
      p.tikz {
        text-align: center;
      }
      table {
        width: 100%;
        line-height: 1.4 * $em;
        th {
          text-align: left;
          background-color: $blue;
          color: white;
        }
        td, th {
          vertical-align: top;
          padding: 2px;
        }
      }
    }
    .menu {
      z-index: 50;
      float: left;
      margin-top: -10px;
      margin-left: -10px;
      margin-bottom: 30px;
      background-color: $gray;
      list-style: none;
      border-radius: 10px;
      width: 190px;
      min-width: 190px;
      min-height: 100px;
      padding: 30px;
      ul {
        list-style: none;
        margin-left: 10px;
      }
      & > li {
        margin-top: 5px;
        & > a {
          font-weight: bold;
        }
      }
      li {
        a {
          text-decoration: none;
          color: $black;
          &.active, &:hover {
            color: $blue;
          }
        }
      }
    }
    .steps {
      width: 157px;
      min-width: 157px;
      list-style: none;
      float: right;
      border-left: 1px solid $lightgray;
      padding: 15px;
      margin-left: 15px;
      margin-bottom: 30px;
      li {
        border-top: 1px solid $lightgray;
        padding: 15px 0;
        &:first-child {
          border-top: none;
        }
        a {
          font-size: 0.9 * $em;
          text-decoration: none;
          color: $darkgray;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

