@import 'defs';

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: $em;
  font-family: 'Verdana', sans-serif;
  color: $black;
  background-color: $gray;
}

.wrapper {
  position: relative;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: $width;
  @media all and (max-width: $width) {
    width: 100%;
  }
}

.top {
  @media all and (max-width: $width) {
    display: none;
  }
  position: relative;
  height: 70px;
  vertical-align: bottom;
  margin-bottom: 7px;
  .banner {
    position: absolute;
    bottom: 0;
    left: 37px;
  }
  .logo {
    position: absolute;
    bottom: 0;
    right: 37px;
    img {
      width: 80px;
      height: 58px;
    }
  }
  .teamed-logo {
    position: absolute;
    bottom: 0px;
    right: 150px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: $darkgray;
    img {
      width: 96px;
      height: 19px;
    }
  }
}

.box {
  position: relative;
  background-color: $black;
  border-radius: 10px;
  @media all and (max-width: $width) {
    border-radius: 0;
  }
}

/* top line with links */
.tl, .bl {
  @media all and (max-width: $width) {
    display: none;
  }
  list-style: none;
  li {
    display: inline;
    margin-right: 37px;
    color: $gray;
    &:first-child {
      margin-left: 37px;
    }
    a {
      text-decoration: none;
      color: $lightgray;
      &:hover {
        color: inherit;
      }
      .selected {
        color: $blue;
      }
    }
  }
}
.tl {
  margin-top: 20px;
  padding: 5px 0;
  background-color: #455560;
  border-bottom: 1px solid $lightgray;
}
.bl {
  border-top: 1px solid $lightgray;
  padding: 18px 0;
}

/* bottom sub text */
.sub {
  @media all and (max-width: $width) {
    display: none;
  }
  position: relative;
  font-size: 90%;
  margin-left: 39px;
  margin-top: 4px;
  margin-bottom: 15px;
  .iso {
    position: absolute;
    top: 1px;
    right: 37px;
    img {
      width: 76px;
      height: 11px;
    }
  }
}

.gray {
  color: $lightgray;
}

