@import 'defs';

/* central image */
.picture {
  position: relative;
  img {
    display: block;
    width: 800px;
    height: 250px;
  }
  .question {
    color: white;
    position: absolute;
    top: 25px;
    left: 37px;
    div {
      font-size: 3 * $em;
      letter-spacing: -0.1 * $em;
      &:first-child {
        font-size: 2.2 * $em;
      }
    }
  }
  .blue {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $blue;
    padding: 15px 0 5px 37px;
    font-size: 1.6 * $em;
    color: white;
    opacity: 0.4;
  }
}

.home {
  color: white;
  table {
    margin: 5px 0 15px 37px;
    border-spacing: 0;
    border-collapse: separate;
    th {
      color: $blue;
      font-weight: bold;
      padding: 11px 0;
      text-align: left;
    }
    td {
      line-height: 1.3 * $em;
      width: 33%;
      vertical-align: top;
      padding-right: 70px;
      a {
        text-decoration: none;
        display: block;
        color: #9cacb6;
        &:hover {
          color: white;
        }
      }
    }
  }
}
