---
layout: default
title: "Software Development General Contractor"
description:
  TechnoPark is a specialized project management firm providing quality development
  services to companies all over the world
keywords:
  - custom software development
  - software development
  - project management
  - quality management
  - puzzle driven development
  - XDSD
  - eXtremely Distributed Software Development
first:
  /process/cost: Our prices and estimations
  /process/scope: Requirements management
  /process/risk: How we manage project risks
second:
  /about/why: Why customers stay with us
  /about/history: History of our company
  /about/jobs: Job Openings
---

<div class="picture">
  <a href="/">
    <img src="//img.technoparkcorp.com/front/horses.jpg"
      alt="TechnoParkCorp.com is a Software Development General Contractor" />
  </a>
  <div class="question">
    <div>Your programmers</div>
    <div>avoid writing unit tests?</div>
  </div>
  <div class="blue">Hire us and see how TDD can be a mandatory practice</div>
</div>
<div class="home">
  <table>
    <tr>
      <th>Services</th>
      <th>About Us</th>
      <th>Latest News</th>
    </tr>
    <tr>
      <td>
        {% for link in page.first %}
          <a href="{{ link[0] }}">
            {{ link[1] }}
          </a>
        {% endfor %}
      </td>
      <td>
        {% for link in page.second %}
          <a href="{{ link[0] }}">
            {{ link[1] }}
          </a>
        {% endfor %}
      </td>
      <td>
        {% recent_news %}
      </td>
    </tr>
  </table>
</div>
