---
layout: default
title: "Software Development General Contractor"
description:
  TechnoPark is a specialized project management firm providing quality development
  services to companies all over the world
keywords:
  - custom software development
  - software development
  - project management
  - quality management
  - puzzle driven development
  - XDSD
  - eXtremely Distributed Software Development
first:
  cost:
    label: Our prices and estimations
    href: /process/cost
  scope:
    label: Requirements management
    href: /process/scope
  risk:
    label: How we manage project risks
    href: /process/risk
second:
  why:
    label: Why customers stay with us
    href: /about/why
  history:
    label: History of our company
    href: /about/history
  jobs:
    label: Job Openings
    href: /about/jobs
news: /about/news/yegor2014/teamed
---

<div class="picture">
  <a href="/">
    <img src="//img.technoparkcorp.com/front/horses.jpg"
      alt="TechnoParkCorp.com is a Software Development General Contractor" />
  </a>
  <div class="question">
    <div>Your programmers</div>
    <div>avoid writing unit tests?</div>
  </div>
  <div class="blue">Hire us and see how TDD can be a mandatory practice</div>
</div>
<div class="home">
  <table>
    <tr>
      <th>Services</th>
      <th>About Us</th>
      <th>Latest News</th>
    </tr>
    <tr>
      <td>
        {% for link in page.first %}
          <a href="{{ link[1]['href'] }}">
            {{ link[1]['label'] }}
          </a>
        {% endfor %}
      </td>
      <td>
        {% for link in page.second %}
          <a href="{{ link[1]['href'] }}">
            {{ link[1]['label'] }}
          </a>
        {% endfor %}
      </td>
      <td>
        <a href="/">some news...</a>
      </td>
    </tr>
  </table>
</div>
