---
layout: default
---

<section class="main">
  <div class="sl">
    {% raw %}
    <script id="search-results-template" type="text/mustache">
      {{#entries}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/entries}}
    </script>
    {% endraw %}
    <input id="search-query" name="q" placeholder="Search..." autocomplete="off" size="35"/>
    <div id="search-results">
      <ul class="entries"></ul>
    </div>
  </div>
  <div class="crumbs" role="navigation">
    {{ page | breadcrumbs }}
  </div>
  <article itemscope itemtype="http://schema.org/Article" class="white">
    <ul class="steps">
      <li>
        <a href="">Read about Quality Management and cost of quality we suggest</a>
      </li>
      <li>
        <a href="">Read how projects are quoted, estimated, and paid</a>
      </li>
    </ul>
    <div class="page" itemprop="articleBody">
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </div>
  </article>
  <ul class="menu" role="navigation">
    <li>About us</li>
    <li>Contacts</li>
  </ul>
  <div class="wl">
    Last update on
    <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%-d %b %Y" }}
    </time>
  </div>
</section>
