---
top:
  about:
    label: About us
    title: Facts, history, key achievements or TechnoPark Corp.
  process:
    label: Process
    title: Our approach to time/cost/scope and risk management
  stories:
    label: Success Stories
    title: List of the latest projects with technical and management details
  innovations:
    label: Innovations
    title: Our strength is in our inventions
  contacts:
    label: Contacts
    title: Email, phone, fax and online contacts
bottom:
  about/sitemap:
    label: Site Map
    title: Full list of site pages in hierarchical order
  about/legalnotes:
    label: Legal Notes
    title: Legal terms of use of the site
  about/privacy:
    label: Privacy Policy
    title: Privacy policy for Personally Identifiable Information(PII)
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page | description | escape }}" />
    <meta name="keywords" content="{{ page | keywords | join:', ' | escape }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="//img.technoparkcorp.com/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="//img.technoparkcorp.com/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml"/>
    <link rel="author" href="//plus.google.com/u/0/114792568016408327418?rel=author" />
    <link rel="stylesheet" href="/css/style.css?{{ site.data['hash'] }}"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <script src="/js/search.min.js?{{ site.data['hash'] }}"></script>
    <script src="/js/all.js?{{ site.data['hash'] }}"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="banner">Software Development General Contractor</div>
      <a title="Home page of TechnoParkCorp.com" href="/" class="logo">
        <img src="//img.technoparkcorp.com/logo.svg"/>
      </a>
      <div class="box">
        <div>&nbsp;</div>
        <ul class="tl">
          {% for link in page.top %}
            <li>
              <a href="/{{ link[0] }}" title="{{ link[1]['title'] }}">
                {{ link[1]['label'] }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {{ content }}
        <ul class="bl">
          {% for link in page.bottom %}
            <li>
              <a href="/{{ link[0] }}" title="{{ link[1]['title'] }}">
                {{ link[1]['label'] }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="sub">
        &copy; TechnoPark Corp., 2000-2014
        <a title="Read more about ISO 9001:2000 certification that was obtained by TechnoPark Corp."
          href="" class="iso">
          <img src=""/>
        </a>
      </div>
    </div>
  </body>
</html>
