subject: Your skills and experience wanted in a new project
--
Hi,

We hope everything is well with you. According to our agreement we found a software development project where your skills and experience might help. The role we're looking for is: '<?=$this->request->role?>'.

<?=$this->message?>


As usual it's a part-time assignment, which you may refuse just by ignoring this email. If you have time and interest to join the project, please reply to this email and we will start assigning new tasks to you. If you have questions or need clarification on this role, please email us back.
